<div id ="about">
<h1>Introduction</h1>
<h3>Our Vision</h3>
   <ul>
     <li>To assist create national awareness and proactive communities in relation to missing children
         and child trafficking.</li>
     <li>To have in place an effective network that can be activated to find missing children.</li>
    </ul>
  <h3>Our Mission</h3>
   <ul>
     <li>To work with the police and IT systems to ensure that children at risk do not become victims</li>
    </ul>
  <h3>Our Objectives</h3>
   <ul>
     <li>To ensure that relevant systems are in place to find the child and follow up as frequently as possible</li>
    </ul>
</div>