<div id= "contact">
<h1>Contact Us</h1>
    <table>
      <tr>
        <td>Address: </td>
        <td>George Building</td>
      </tr>
      <tr>
        <td></td>
        <td>Off Main Rd, Pittsburgh</td>
      </tr>
      <tr>
        <td></td>
        <td>USA.</td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>email@seenchild.org</td>
      </tr>
      <tr>
        <td>Office:</td>
        <td>1-123-123-1234</td>
      </tr>
      <tr>
        <td>Emergency Tel:</td>
        <td>800-SEEN-CHILD</td>
      </tr>
    </table>
</div>