<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Seen Child: Not For Sale</h1>
<body>
<table>
  <tr>
    <td>
      <p style="text-align: left;">
       According to a International Organization for Migration, there are about 800 000
       people trafficked across international borders annually. This figure does not include
       those trafficked within our countries.</p>
       <p style="text-align: left;">Cheap labour, sexual exploitation and certain criminal activities are the cause of child
       trafficking. </p>
      <a href ="http://www.iom.int/jahia/page748.html">More Information</a>
    </td>
    <td><%= image_tag("child_image.jpg", :alt => "child-trafficking.jpg- theheatmag.com",
                      :title =>"child-trafficking.jpg- theheatmag.com") %></td>
  </tr>
</table>

</body>