// Place all the styles related to the Children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 /* Global styles */

#child #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#child h1,about h1, contact h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}
#about h3 {
        font:  90% sans-serif;
        color: #226;
}
/*Styles for Main Page*/
#banner{
 background: #9c9;
 padding-top: 50px;
 padding-bottom: 30px;
 border-bottom: 2px solid;
 font: small-caps 50px/50px "Times New Roman", serif;
 color: #282;
 text-align: center;
}

#banner img{
    float: left;
    padding: 0px;
    position: relative;

}

#columns {
 background: #141
}

#main{
 margin-left: 7cm;
 padding-top: 4ex;
 padding-left: 2em;
 background: white;
}

#side{
 float: left;
 padding-top: 5em;
 padding-left: 1em;
 padding-bottom: 25em;
 width: 20em;
 background: #141;
}

#side links {
 color: #ffffff;
 font-size:medium;
}
/* Styles for children/index */

#child_list table {
        border-collapse: collapse;
}

#child_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#child_list .list_image {
  width:        60px;
  height:       70px;
}

#child_list .list_description {
  width:        60%;
}

#child_list .list_description dl {
        margin: 0;
}

#child_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#child_list .list_description dd {
        margin: 0;
}

#child_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#child_list .list_line_even {
  background:   #e0f8f8;
}

#child_list .list_line_odd {
  background: #ccccff;
}



#child  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#child  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#child .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

#child .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

